@page "/referee/distances/{distance:int}"
@using OpenRace.Data.Ef
@using System.Drawing
@using Coravel.Scheduling.Schedule.Interfaces
@using Microsoft.Extensions.Logging
@using NodaTime
@using OpenRace.Features.RaceEvents

@inherits OpenRace.Features.Auth.ComponentBaseWithSession

@inject NavigationManager NavigationManager
@inject AppConfig AppConfig
@inject MembersRepository MembersRepo
@inject RaceEventsRepository EventsRepo
@inject RaceEventsManager RaceEventsManager
@inject IScheduler Scheduler
@inject RaceEventsSubscriptionManager RaceEventsSubscriptionManager
@inject IToastService ToastService
@inject IClock Clock
@inject ILogger<DistanceRunners> Logger

<h1>Участники @(_distanceInfo.DistanceKm) км.</h1>

@if (Session.IsAuthorized())
{
	if (_membersLaps != null)
	{
		//TODO здесь может быть поле ручного ввода номера участника
		var distanceColor = ColorTranslator.ToHtml(_distanceInfo.Color);
		<table style="border: 5px">
			<tr style="border: 5px">
				@foreach (var lap in _membersLaps)
				{
					var color = lap.GetColor(distanceColor, _buttonsLocked);
					<button class="btn"
					        @onclick="() => CompleteLap(lap, false)"
					        style="background-color: @color; width: 70px; height: 70px; margin: 5px"
					        disabled="@(_buttonsLocked || lap.IsFinished)"
					>
						<span style="font-weight: bold; font-size: 150%">@(lap.MemberNumber)</span> <sup>⬤@(lap.NextLap)</sup>
					</button>
				}
			</tr>
		</table>
		for (var i = 0; i < 10; i++)
		{
			<hr/>
		}
		<button class="btn btn-danger" @onclick="CancelLastEvent"
		        style="width: 200px; height: 70px">
			Отменить последнее действие
		</button>
	}
	else
	{
		<div>Загрузка...</div>
	}
}
else
{
	<div>Требуется авторизация</div>
}
