@inject NavigationManager NavigationManager

@page "/contacts"

<h1>Контакты</h1>

<style>
.tg  {border-collapse:collapse;border-color:#aaa;border-spacing:0;}
.tg td{background-color:#fff;border-color:#aaa;border-style:solid;border-width:1px;color:#333;
  font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f38630;border-color:#aaa;border-style:solid;border-width:1px;color:#fff;
  font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-096r{color:#000000;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-dg7a{background-color:#FCFBE3;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-096r" colspan="2">ФОНД ХРАМА СВЯТОГО ВЛАДИМИРА</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">ОГРН</td>
    <td class="tg-dg7a">1137799003506</td>
  </tr>
  <tr>
    <td class="tg-0lax">ИНН</td>
    <td class="tg-dg7a">7736129020</td>
  </tr>
  <tr>
    <td class="tg-0lax">КПП</td>
    <td class="tg-dg7a">772001001</td>
  </tr>
  <tr>
    <td class="tg-0lax">ОКТМО</td>
    <td class="tg-dg7a">45309000000</td>
  </tr>
  <tr>
    <td class="tg-0lax">Адрес</td>
    <td class="tg-dg7a">111394, ГОРОД МОСКВА,<br>УЛИЦА ПЕРОВСКАЯ, ДОМ 66, КОРПУС 2</td>
  </tr>
  <tr>
    <td class="tg-0lax">Руководитель</td>
    <td class="tg-dg7a">Батаногов Алексей Андреевич</td>
  </tr>
  <tr>
    <td class="tg-0lax">Телефон</td>
    <td class="tg-dg7a"><a href="tel:+79645522761">8-964-552-27-61</a> Дмитрий<br></td>
  </tr>
</tbody>
</table>

@code
{

}
