@page "/easydata/{entity?}"

@inherits OpenRace.Features.Auth.ComponentBaseWithSession
@using Microsoft.Extensions.Logging
@implements IAsyncDisposable

@inject ILogger<EasyDataPage> _logger
@inject IJSRuntime JSRuntime

<h1>Редактор</h1>

@if (Session.IsAuthorized())
{
    <div class="container">
        <div id="EasyDataContainer"></div>
    </div>
}
else
{
    <div>Требуется авторизация</div>
}

@code {
    [Parameter]
    public string? Entity { get; set; }

    private bool _easyDataInitialized;

    protected override async Task OnAuthorizedAsync()
    {
        await base.OnAuthorizedAsync();
        await JSRuntime.InvokeVoidAsync("runEasyData");
        _easyDataInitialized = true;
    }

    private bool _disposed;

    public async ValueTask DisposeAsync()
    {
        if (_easyDataInitialized && !_disposed)
        {
            _disposed = true;
            try
            {
                await JSRuntime.InvokeVoidAsync("stopEasyData");
            }
            catch (Exception e)
            {
                _logger.LogWarning(e, $"Exception inside {nameof(DisposeAsync)}");
            }
        }
    }

}