@page "/info"
@using OpenRace.Features.Registration
@inject NavigationManager NavigationManager
@inject AppConfig _appConfig

<h1>Информация о забеге</h1>

<!-- Field type: "image" id: "266133340" -->
<fieldset>
	<legend for="266133340">МЕСТО ПРОВЕДЕНИЯ ЗАБЕГА: ПЕРОВСКИЙ ПРУД НА ПЕРОВСКОЙ 64.</legend>
	<br/>
	Дата и время проведения забега: @_appConfig.RaceDateTimeAsString
	<div class="form-group">
		<img src="https://lh5.googleusercontent.com/YC-epC4XzzC7ko1kV-KOIyShJqqRpkZmRHZSuOWix5-BDkNPEBE9A1oaeJRJv0y4aIY6QyQfQBN4LQ3ExWuwL7NeBBT3QFWM1YWN9k2WXWDNtdj0wYvP64qSn_3OqQgg&#x3D;w981" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "image" id: "632986275" -->
<fieldset>
	<legend for="632986275">МЕСТО ЗАБЕГА БОЛЬШОЙ ПЕРОВСКИЙ ПРУД</legend>
	<div class="form-group">
		<img src="https://lh3.googleusercontent.com/A2MRvHeOjwzk5W-rjauI27z_cuRv8wrAPVyrUbPrK0ws0kS6XOQMCHf9winzzchB2ADS_1c9ft7Hp42R8xsE_f50mcEknd4yA9COQOQSdQfwqExVZ_3Q1LqoCPrxXuuj&#x3D;w1079" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "title" id: "664635904" -->
<fieldset>
	<legend for="664635904">Расписание забега на 16 октября 2021 года. </legend>
	<div class="form-group">
		<p class="help-block">
			ВНИМАНИЕ!!! РАСПИСАНИЕ ЗАБЕГА МОЖЕТ МЕНЯТЬСЯ ПО УСМОТРЕНИЮ ОРГАНИЗАТОРОВ!!!
			14.00 НАЧАЛО РАБОТЫ СТАРТОВОГО ГОРОДКА. ВЫДАЧА СТАРТОВЫХ ПАКЕТОВ УЧАСТНИКАМ. РЕГИСТРАЦИЯ СПОРТСМЕНОВ.
			ВНЕСЕНИЕ ДОБРОВОЛЬНОГО ПОЖЕРТВОВАНИЯ ЗАРЕГИСТРИРОВАННЫМИ УЧАСТНИКАМИ ЗАБЕГА ПРОИЗВОДИТСЯ НА МЕСТЕ
			СТАРТА.!!!!
			ВНИМАНИЕ!!! ЕСЛИ ВЫ НЕ МОЖЕТЕ УЧАСТВОВАТЬ В БЛАГОТВОРИТЕЛЬНОМ ЗАБЕГЕ, НО ХОТИТЕ ПОДДЕРЖАТЬ НАС. ПОЖЕРТВОВАНИЕ МОЖНО ОСТАВИТЬ ПО ССЫЛКЕ http://svladimir.ru/помощь-храму/пожертвование/
			УЧАСТНИКИ ЗАРЕГИСТРИРОВАВШИЕСЯ НА ЗАБЕГ, ВНОСЯТ ПОЖЕРТВОВАНИЕ В СТАРТОВОМ ГОРОДКЕ!!!!!
			14.20 ОТКРЫТИЕ ПРАЗДНИКА.
			14.35 РАЗМИНКА.
			14.45 СТАРТ ЗАБЕГА.
			* время от начала работы стартового городка до старта может варьироваться в пределах 15-20 минут.
		</p>
	</div>
</fieldset>


<!-- Field type: "image" id: "1573489107" -->
<fieldset>
	<legend for="1573489107">ПОПРОСИ СВОИХ ДРУЗЕЙ НЕ УЧАСТВУЮЩИХ В ЗАБЕГЕ ПОДДЕРЖАТЬ ТЕБЯ ФИНАНСОВО!!! ВСЕ ПОЖЕРТВОВАНИЯ ИДУТ НА СТРОИТЕЛЬСТВО ХРАМА СВЯТОГО КНЯЗЯ ВЛАДИМИРА НА ПЕРОВСКОЙ 64</legend>
	<div class="form-group">
		<img src="https://lh6.googleusercontent.com/i3RPkzB3iyG3AuhwLz5TltfkVHWNpMiwx1v4rx7fDye8UV8jMknpnNYDiKkUdgzZEHvNWGsl0b11sL7LuZNiOcjqrEFFMAmzOk4PljRnRYYJN79Wj_MWm2VMWQTq7pBTnQ&#x3D;w4000" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "image" id: "1736253495" -->
<fieldset>
	<legend for="1736253495">ДРУЗЬЯ, НА ЭТОТ РАЗ МЫ СОБИРАЕМ СРЕДСТВА НА ИКОНОСТАС ДЛЯ НОВОГО ХРАМА!!!</legend>
	<div class="form-group">
		<img src="https://lh5.googleusercontent.com/c08-ULLkOfMpXLxeJonRZTkF0ow1BW_IzFYmX6RsjwoHma1SX7vIDeK2K-NSZv_On6tQ0swJ8UMult0Ur28xGYONvZPJvukV0a3qVQtaLfzPWc5rzPPxOKyRa87D7xElEg&#x3D;w3114" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "title" id: "136800594" -->
<fieldset>
	<legend for="136800594">Основные условия.</legend>
	<div class="form-group">
		<p class="help-block">
			ДОПУСТИМЫЙ ВОЗРАСТ ДЛЯ УЧАСТИЯ В ЗАБЕГЕ 16 ЛЕТ!
			ДЕТИ МЛАДШЕГО ВОЗРАСТА УЧАСТВУЮТ В ЗАБЕГЕ С ПИСЬМЕННОГО СОГЛАСИЯ РОДИТЕЛЕЙ С ОБЯЗАТЕЛЬНОЙ ПРЕДВАРИТЕЛЬНОЙ РЕГИСТРАЦИЕЙ. (СОГЛАСИЕ ЗАПОЛНЯЕТСЯ РОДИТЕЛЯМИ В СТАРТОВОМ ГОРОДКЕ ПЕРЕД ЗАБЕГОМ)
			ПАКЕТ УЧАСТНИКА ЗАБЕГА МОЖНО ПОЛУЧИТЬ В СТАРТОВОМ ГОРОДКЕ. ПОЖЕРТВОВАНИЕ ЗА ЗАБЕГ, ЯВЛЯЕТСЯ ДОБРОВОЛЬНЫМ!!
			В СЛУЧАЕ ОТКАЗА УЧАСТНИКА ОТ ЗАБЕГА СУММА ПОЖЕРТВОВАНИЯ НЕ ВОЗВРАЩАЕТСЯ!
			ПРИ ПОЛУЧЕНИИ ПАКЕТА УЧАСТНИКА НЕОБХОДИМО ПОДПИСАТЬ СОГЛАСИЕ
			О ТОМ, ЧТО УЧАСТНИК БЕРЁТ НА СЕБЯ ОТВЕТСТВЕННОСТЬ ЗА СВОЁ ЗДОРОВЬЕ НА ВРЕМЯ УЧАСТИЯ В ЗАБЕГЕ!
		</p>
	</div>
</fieldset>


<!-- Field type: "image" id: "493221387" -->
<fieldset>
	<legend for="493221387">ДЕТИ ДО 16 ЛЕТ УЧАСТВУЮТ В ЗАБЕГЕ С ПИСЬМЕННОГО СОГЛАСИЯ РОДИТЕЛЕЙ!!!</legend>
	<div class="form-group">
		<img src="https://lh3.googleusercontent.com/12dmMY8Jffuz8BMBatpjXbx5nP5qVtAwEcSJU_Mdkus-rRAXMMPFLabzEV04Cvw8mhsRZ5n_2lOxERC65hZ7RPuc6KzAQjFvDBmF079K85fYrIdxK-BnAwnU3CkZ6TmWWQ&#x3D;w960" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "title" id: "2061307837" -->
<fieldset>
	<legend for="2061307837">Пакет участника.</legend>
	<div class="form-group">
		<p class="help-block">
			СТАРТОВЫЙ НОМЕР.
			ПАМЯТНАЯ ГРАМОТА УЧАСТНИКА ЗАБЕГА.
			ЧАЙ, ПЕЧЕНЬЕ ПОСЛЕ ФИНИША.
		</p>
	</div>
</fieldset>


<!-- Field type: "image" id: "1541759083" -->
<fieldset>
	<legend for="1541759083">Пакет участника</legend>
	<div class="form-group">
		<img src="https://lh5.googleusercontent.com/wUvHkj3YJdoZv-cScLoOa_jADxMuOMpiaS1NLIMRvijmWzszGgkzyIxC2tarE8RPaiX3dMPcl4AyCCO2w0xHXUIeYWYZGRt3pno345LxHFlOLluT27ZZjHppDTZG1sS8&#x3D;w5397" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "image" id: "1029038737" -->
<fieldset>
	<legend for="1029038737">Пакет участника</legend>
	<div class="form-group">
		<img src="https://lh5.googleusercontent.com/vkeG0UOOR-ZiMmdA9_f_OZ0YHpIfwfXFzcLOE-L2tINalbHEe8D-EYb838LB7jSG98ByUu_1ScGY89BG-M4N_I3MtTgqgs6oeZHiwxwGDi0Y0QmdXc5ba02tIhkcpZI_&#x3D;w5760" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "title" id: "674478952" -->
<fieldset>
	<legend for="674478952"> Безопасность здоровья.</legend>
	<div class="form-group">
		<p class="help-block">НА ЗАБЕГЕ БУДЕТ ДЕЖУРИТЬ КАРЕТА СКОРОЙ ПОМОЩИ! ЕСЛИ ВЫ ПОЧУВСТВОВАЛИ СЕБЯ ПЛОХО СРАЗУ ЖЕ ОБРАТИТЕСЬ ЗА ПОМОЩЬЮ К БРИГАДЕ ВРАЧЕЙ!!! </p>
	</div>
</fieldset>


<!-- Field type: "title" id: "1075742878" -->
<fieldset>
	<legend for="1075742878">Питание. </legend>
	<div class="form-group">
		<p class="help-block">ПОСЛЕ ЗАБЕГА МОЖНО ПОПИТЬ ЧАЙ И НЕМНОГО ПОДКРЕПИТЬСЯ. ПАЛАТКА С ЧАЕМ БУДЕТ НАХОДИТЬСЯ В СТАРТОВОМ ГОРОДКЕ.</p>
	</div>
</fieldset>


<!-- Field type: "title" id: "1982283230" -->
<fieldset>
	<legend for="1982283230">Раздевалка и туалет.</legend>
	<div class="form-group">
		<p class="help-block">
			НАХОДИТСЯ В ТРК ПЕРОВО МОЛЛ ПЕРОВСКАЯ 61А ФИТНЕСС КЛУБ X-Line 4-Й ЭТАЖ
			ВНИМАНИЕ!!! ЖЕЛАЮЩИЕ ВОСПОЛЬЗОВАТЬСЯ РАЗДЕВАЛКОЙ СНАЧАЛА ИДУТ В РАЗДЕВАЛКУ, А ПОТОМ В СТАРТОВЫЙ ГОРОДОК. ЭТО СЭКОНОМИТ ВАШЕ ВРЕМЯ!!!
		</p>
	</div>
</fieldset>


<!-- Field type: "image" id: "45666837" -->
<fieldset>
	<legend for="45666837">СХЕМА ПРОХОДА В РАЗДЕВАЛКУ</legend>
	<div class="form-group">
		<img src="https://lh5.googleusercontent.com/6v0Q49xPyD3PV_-l97fOxZ77wUCqYF9U03OFJ4nU74dONfwuUiC89qz2yyaRjOeP_eXkg9QTBNwgoRXo6laHLeSSPkLbPa-qxvqoLCWazpIWZvJ70d1sWL6D1xQvV2rb&#x3D;w981" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "image" id: "1153734480" -->
<fieldset>
	<legend for="1153734480">ТРК ПЕРОВО МОЛЛ</legend>
	<div class="form-group">
		<img src="https://lh3.googleusercontent.com/9sjz6YUfrNJjrPcwyT8faPcdw_FN1_wlb_G-ADVSIgERmCXmFQnxjZXnp0U0dDsgpBLHCjjJtXLjIV5MCM9Je3a5ZOs8dp1ihCQ_RLdv4XyUSH3Aa-dDdId7SfEO_no8&#x3D;w1280" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "image" id: "1395612328" -->
<fieldset>
	<legend for="1395612328">КАК ДОБРАТЬСЯ ДО СТАРТОВОГО ГОРОДКА НА МЕСТО СОРЕВНОВАНИЙ.</legend>
	<div class="form-group">
		<img src="https://lh5.googleusercontent.com/PWqWn2ZeO_735ZsrMsCkTIjHWTd8n1876IZcxg82V9gaBhrBtIN1IBDkA-KM0VIB3GivAp-nhar1oSLAuGvgStzvcS6B-phhQdYIILe24sZwPjYAyBj4E6b61QYkgt9P&#x3D;w1145" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "title" id: "956527960" -->
<fieldset>
	<legend for="956527960">ПОМОЩЬ ВОЛОНТЁРОВ И ФОТОГРАФОВ НА ЗАБЕГЕ</legend>
	<div class="form-group">
		<p class="help-block">
			ДРУЗЬЯ, ПОМОЩЬ ВОЛОНТЁРОВ ПОТРЕБУЕТСЯ 14 МАЯ (ПОДГОТОВКА) И 15 МАЯ НА САМОМ ЗАБЕГЕ.
			ЗАПИСАТЬСЯ И ПОЛУЧИТЬ ПОДРОБНУЮ ИНФОРМАЦИЮ МОЖНО ПО ТЕЛЕФОНУ: 8-964-552-27-61 ДМИТРИЙ
		</p>
	</div>
</fieldset>


<!-- Field type: "image" id: "1685234272" -->
<fieldset>
	<legend for="1685234272">ПОМОЩЬ В СЪЁМКЕ ФОТО И ВИДЕО !!!!! ФОТО И ВИДЕО С ЗАБЕГА МОЖНО ПРИСЛАТЬ СЮДА: dmitr-pestov@yandex.ru</legend>
	<div class="form-group">
		<img src="https://lh4.googleusercontent.com/8xVCQDZCbT0IV6CNyHQ8Uatlhr-SbVhq1AthelK1jex5uTqmkc6D5tae4-sbDi0Mm5vvZ8Ns3vpzd1b8JA8zVzjQ1K0LY9xHClx_AxIZXckmqt_GHs4cBqVd0wEMGXIp1w&#x3D;w4000" style="max-width: 100%;">
	</div>
</fieldset>


<!-- Field type: "image" id: "1957363735" -->
<fieldset>
	<legend for="1957363735">ДРУЗЬЯ, СПАСИБО, ЧТО ВЫ С НАМИ!!!</legend>
	<div class="form-group">
		<img src="https://lh4.googleusercontent.com/D-h30Icp5plAXhkQTa2NHrHkhHeeqG4JeiU9aEB6Ha9Dfml_QMWtOIvpy23F4pypRVA8HDi8cowyU3lph35ROFotNPSea2G1KQSN3Mif6DfofXSsTC5snWPGihje_h9O&#x3D;w5760" style="max-width: 100%;">
	</div>
</fieldset>

<button class="btn btn-primary" @onclick="OpenRegistrationPage">Регистрация</button>

@code {
	void OpenRegistrationPage()
	{
		NavigationManager.NavigateTo(RegistrationForm.Identifier);
	}
}